.container {
    max-width: 100vw;
    overflow: hidden;
}
.contentSection {
    height: 100vh;
    width: 100%;
}
.firstSection {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: #EFF3FA;
}
.firstSectionTitle {
    font-size: 8px;
}
.searchBox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 75px);

    height: 75px;
    width: 827px;

    background-color: #fff;
    border: 1px solid #CACCD1;
    border-radius: 40px;

    overflow: hidden;
    transition: height 1s, border-radius 1s;
}
.sbiWrapper {
    width: 100%;
    height: 75px;
}
.searchBoxInput {
    height: 75px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;

    border: initial;
    border-radius: 40px;

    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 500;
    font-style: italic;
    color: #333447;

    transition: border 1s;
}
.searchBoxInput:focus {
    outline: none;
    border: initial;
}
.searchResultsPreviewItem {
    display: flex;
    align-items: center;
    
    border-bottom: 1pt solid #CACCD1;
}
.srpHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}
.srpHeader > * {
    margin-left: 20px;
}
.srpCircle {
    width: 17px;
    height: 17px;
    border-radius: 30px;
}
.srpResult {
    flex-grow: 2;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;


    border-left: 1pt solid #CACCD1;
    color: #52565E;
}
