.univDummyRoot {
    min-height: 100vh;
}

.use-image-background {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;  
}

.univDummyRoot > *{ 
    width: 100%;
}
.imageWrapper { 
    height: 90vh;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: auto !important; 
    border: 1px solid #caccd1;
}
.contentWrapper {
    margin-top: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.contentContainer {
    width: max(600px, 70vw);

    padding: 20px;
    background-color: #fff;
    border: 1pt solid #caccd1;
}