.wrapper {
    width: 100vw;
    height: 100vh;
}
.container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 60px 2.4fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0em 0em;
    grid-auto-flow: row;
    grid-template-areas:
      "appHeader panelHeader"
      "navSidebar routeContainer";
}
.container > * {
    border: 1px solid #caccd1;
}

.appHeader { 
    grid-area: appHeader; 
    
    display: flex; 
    justify-content: center;
    align-items: center;

    font-size: 30px;
}

.panelHeader { 
    grid-area: panelHeader; 

    display: flex; 
    justify-content: center;
    align-items: center;

    font-size: 25px;
}

.navSidebar { 
    grid-area: navSidebar;

    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    
}
.navSidebar > * {
    width: 100%;
    display: flex;
    align-items: center;
}
.navSingleItem {
    height: 80px;
    text-indent: 30px;
}
.navMultipleItem {
    height: 60px;
    text-indent: 50px;
}
  
.routeContainer { 
    grid-area: routeContainer; 

    height: 100%;

    display: block;

    overflow-y: auto;
}